<!-- Meta -->
<section id="meta">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
			<h2>Meta</h2>
            </div>
        </div>
        <div class="row">
        	<div class="col-md-4">
				<h3><br><br><br>Governance</h3>
			</div>
			<div class="col-sm-6">
				<p>The organization has adopted a governance structure similar to the 
				Apache Foundation known for its ability to scale and foster a collaborative 
				meritocracy. Specifically, there are the following units:
			
			<div class="col-sm-6">
				<b>OS Planning Board</b>
				<ul><li>business affairs</li><li>legal affairs</li></ul>
			</div>
			<div class="col-sm-6">
				<b>Project Committees</b>
				<ul><li>where most work is done</li></ul>
			</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-4">
				<h3><br><br>Funding?</h3>
			</div>
			<div class="col-md-8">
			<p>Right now this is a completely volunteer and personal-donation-based effort. 
			Into the future, it is anticipated that background organizational costs (i.e. 
			web hosting) will be covered by donations and that the bulk of the work at the 
			project-level will be funded via individual agencies, research institutions or 
			corporations.
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<h3><br><br>Keep in touch!</h3>
			</div>
			<div class="col-md-8">
				<form style="#ccc;padding:10px;text-align:left;" 
					action="https://tinyletter.com/easall" 
					method="post" 
					target="popupwindow" 
					onsubmit="window.open('https://tinyletter.com/easall', 'popupwindow', 
							 'scrollbars=yes,width=800,height=600');return true">
				<p><p>
				<input type="text" style="width:240px" name="email" id="tlemail" />
				<input type="hidden" value="1" name="embed"/>
				<input type="submit" value="Subscribe" />
				</form>
			</div>
		</div>
		
		
	</div>
</section>

