<!-- Intro -->
<section id="intro">
<div class="intro">
	<div class="container">
        <div class="row">
        
        	</br></br></br></br></br></br>
        	</br></br></br></br></br></br>
        	</br></br></br></br></br></br>
			<div class="col-md-6">
				<p>The Open Source Planning Initiative supports innovation, development, and 
				sharing in open source urban planning software. This foundation was formed 
				out of an on-going need identified by urban planning practitioners across 
				the nation to focus on innovation rather than rebuilding the same tools 
				over and over again. This foundation will serve as an independent legal 
				entity to which community members can contribute code, funding, and other 
				resources, secure in the knowledge that their contributions will be 
				maintained for public benefit.
			</div>
			<div class="col-md-6">
				<p>We are a group of individuals mainly in the field often referred to as 
				"Travel Demand Modeling". Most of us work for public agencies who are in 
				charge of local or regional policy or funding decisions related to 
				transportation (and land use, as it relates to transportation).

				<p>Collectively, we are broadly interested in getting better tools and 
				information to planners, decision makers, and the public, quicker and 
				more efficiently.
			</div>
		</div>
		</br>
        </br>
        </br>
		 
	</div>
</div>
	
</section>
